<!DOCTYPE html>
<html lang="en">
<head>
    <title>VueJS Starter</title>
</head>
<template>
    <div id="app">
        {{ message }}
    </div>
    <div align="center">
        <table class="table">
          <thead>
            <tr>
              <th>First Name______</th>
              <th>Last Name______</th>
              <th>Age______</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ User.Name }}</td>
              <td>{{ User.Name }}</td>
              <td>{{ User.admin }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
    <script src="https://unpkg.com/vue"></script>
    <script>
    new Vue({
        el: '#app',
        data() {
            return {
                message: 'Hello World'
            }
        },
        created() {
            console.log("Hello World")
        }
    });
    </script>
    <script>
        import axios from 'axios';
        export default {
          data() {
            return {
              User: {},
            }
          },
          mounted() {
            axios.get('http://localhost:3000/')
              .then((response) =>{
              console.log(response.data);
              this.User = response.data;
            })
            .catch((error) => {
              console.log(error);
            });
          },
        }
        </script>
</html>